.profile-patient {
  border-radius: 2rem;
  background-color: #FB9869;
}

.my-doctors {
  border-radius: 2rem;
  background-color: #F9D3A5;
}

.register-report {
  border-radius: 2rem;
  background-color: #eaedee;
  width: 50%;
  height: 90%;
  align-items: center;
}

.register-medicine {
  border-radius: 2rem;
  background-color: #b6deeb;
  width: 50%;
  height: 60px;
  align-items: center;
}

.my-reports {
  border-radius: 2rem;
  background-color: #F9D3A5;
  align-items: center;
}

.content-index {
  border-radius: 2rem;
  background-color: #e3f4f6;
  align-items: center;
}

.QR-patient {
  border-radius: 2rem;
  background-color: #fdfdfd;
  align-items: center;
}

.profile-doctor {
  border-radius: 2rem;
  background-color: #FB9869;
  height: 200px;
  width: 100%;
}

.mypatients-doctor {
  border-radius: 2rem;
  background-color: #F9D3A5;
  width: 100%;
}

.content-doctor {
  border-radius: 2rem;
  background-color: #c5f0cc;
  width: 100%;
}


.profile-photo {
  width: 30%; /* Make the image take up the full width of its container */
  height: auto; /* Keep the original aspect ratio */
  object-fit: cover; /* Resize the image to cover its container while maintaining its aspect ratio */
  border-radius: 20%; /* Make the image rounded */
  max-height: 120px;
}


.profile-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.profile-text {
  margin-left: 20px; /* Add some space between the image and the text */
}

.testing {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.instructions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #e3f4f6;
  border-radius: 2rem;
}
