.profile-patient {
  border-radius: 2rem;
  background-color: #FB9869;
}

.my-doctors {
  border-radius: 2rem;
  background-color: #F9D3A5;
}

.register-report {
  border-radius: 2rem;
  background-color: #eaedee;
  width: 50%;
  height: 90%;
  align-items: center;
}

.register-medicine {
  border-radius: 2rem;
  background-color: #b6deeb;
  width: 50%;
  height: 60px;
  align-items: center;
}

.my-reports {
  border-radius: 2rem;
  background-color: #F9D3A5;
  align-items: center;
}

.content-index {
  border-radius: 2rem;
  background-color: #e3f4f6;
  align-items: center;
}

.QR-patient {
  border-radius: 2rem;
  background-color: #fdfdfd;
  align-items: center;
}

.profile-doctor {
  border-radius: 2rem;
  background-color: #FB9869;
  height: 180px;
  width: 100%;
}

.mypatients-doctor {
  border-radius: 2rem;
  background-color: #F9D3A5;
  width: 100%;
}

.content-doctor {
  border-radius: 2rem;
  background-color: #c5f0cc;
  width: 100%;
}
