
.patient-report {
  border-radius: 2rem;
  width: 90%;
  background-color: #FB9869;
}

.recommendation-report {
  border-radius: 2rem;
  width: 90%;
  background-color: #F9D3A5;
}

.medicine-report {
  border-radius: 2rem;
  width: 90%;
  background-color: #F9D3A5;
}

.red-flag-atracon {
  border-radius: 2rem;
  width: 90%;
  background-color: #F9D3A5;
}

.red-flag-recomendacion {
  border-radius: 2rem;
  width: 90%;
  background-color: #F9D3A5;
}

.report-completed {
  border-radius: 2rem;
  width: 90%;
  background-color: #88CFA8;
}
