
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <% if doctor_signed_in? %>
      <%= link_to '<i class="fas fa-right-from-bracket"></i>'.html_safe, destroy_patient_session_path, data: {turbo_method: :delete}, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Login", new_doctor_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
