<div class="container p-4">
  <h1>Report</h1>
<div class="col-12 d-flex flex-wrap">
  <div class="col-4">
    <% if current_user.is_a?(Doctor) %>
      <%= render 'doctor_view' %>
    <% else %>
      <%= render 'patient_view' %>
    <% end %>
